{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-shadow": "off",
    "react/jsx-closing-bracket-location":"off",
    "react/jsx-indent-props":"off",
    "jsx-quotes":"off",
    "no-unused-state":"off"
  }
}
